group Server
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp2.2

    nuget FSharp.Core
    nuget Saturn
    nuget Thoth.Json.Giraffe
    nuget Fable.Import.Browser
    nuget Fable.Import.Node

group Client
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0

    nuget Fable.Core
    nuget Fable.Elmish
    nuget Fable.Elmish.Debugger
    nuget Fable.Elmish.HMR
    nuget Fable.Elmish.React
    nuget Thoth.Fetch
    nuget Fable.React
    nuget Fulma
    nuget Fable.FontAwesome.Free


group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem

